VITE_FIREBASE_API_KEY=AIzaSyCOKGgsm1d1ezNTc6MI9ccfgl8mVt0A3Ls
VITE_FIREBASE_AUTH_DOMAIN=stumasys-f1f7e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=stumasys-f1f7e
VITE_FIREBASE_STORAGE_BUCKET=stumasys-f1f7e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1089603991522
VITE_FIREBASE_APP_ID=1:1089603991522:web:89ce8345d835eef1736bbb
VITE_FIREBASE_MEASUREMENT_ID=G-69E58K9ZCR
